<app-wrapper-content>
  <div class="container">
    <div style="justify-content: flex-end; display: flex">
      <app-button-filled
        [label]="'ADD'"
        (onHandleClick)="handleAdd()"
      ></app-button-filled>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="onHandleView(element)" color="primary">
            View
          </button>
          <button mat-button (click)="onHandleEdit(element)" color="accent">
            Edit
          </button>
          <button mat-button (click)="onHandleDelete(element)" color="warn">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[2, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</app-wrapper-content>
<app-modal (onhandleCloseModal)="onhandleCloseModal($event)" [modal]="modal">
  <div *ngIf="modal.headerTitle === 'VIEW'">
    <p
      *ngFor="let data of modal.dataRow | keyvalue; index as i"
      style="font-weight: bold; margin-bottom: 8px"
    >
      {{ data.key + " : "
      }}<span style="font-weight: normal">{{ data.value }}</span>
    </p>
  </div>
  <div *ngIf="modal.headerTitle === 'EDIT'">
    <form (ngSubmit)="onUpdatedData()">
      <app-text-field
        *ngFor="let fields of modal.listMenu; index as i"
        [fields]="fields"
        (onHandleChange)="onHandleChange($event)"
      ></app-text-field>
      <app-button-filled-block
        [isLoading]="isLoading"
        [label]="'SAVE'"
      ></app-button-filled-block>
    </form>
  </div>
  <div *ngIf="modal.headerTitle === 'ADD'">
    <form (ngSubmit)="onSubmitNewData()">
      <app-text-field
        *ngFor="let fields of modal.listMenu; index as i"
        [fields]="fields"
        (onHandleChange)="onHandleChange($event)"
      ></app-text-field>
      <app-button-filled-block
        [isLoading]="isLoading"
        [label]="'CREATE'"
      ></app-button-filled-block>
    </form>
  </div>
  <div *ngIf="modal.headerTitle === 'DELETE'">
    <app-button-filled
      [color]="'#f44336'"
      [isLoading]="isLoading"
      [label]="'Yes, Deleted it'"
      (onHandleClick)="onDeleteData()"
    ></app-button-filled>
  </div>
</app-modal>
